@charset "UTF-8";

/* 404 Error Page */
.error404-section div {
	display: block;
	position: relative;
}

.error404-svg {
	width: 100%;
	height: 50rem;
}

.home-btn {
	text-decoration: none;
	width: 12rem;
	height: 4rem;
	background-color: #00adb5;
	color: #fff;
	font-size: 1.6rem;
	font-weight: 600;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.home-btn:hover {
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
}
/* ************* */
/* Footer */
/* *********** */
.footer {
	width: 100%;
	height: 10rem;
	background-color: #343a40;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}