@charset "UTF-8";

/* ************ */
/* Login form */
/* ************ */
body {
	background: linear-gradient(120deg, #00adb5, #8e44ad);
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40rem;
	background: white;
	border-radius: 10px;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.center>h1 {
	text-align: center;
	padding: 20px 0;
	border-bottom: 1px solid silver;
}

.center form {
	padding: 0 40px;
	box-sizing: border-box;
}

form .txt_field {
	position: relative;
	border-bottom: 2px solid #adadad;
	margin: 30px 0;
}

.txt_field input {
	width: 100%;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
}

.txt_field label {
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
	transition: 0.5s;
}

.txt_field span::before {
	content: "";
	position: absolute;
	top: 40px;
	left: 0;
	width: 0%;
	height: 2px;
	background: #00adb5;
	transition: 0.5s;
}

.txt_field input:focus ~ label, .txt_field input:valid ~ label {
	top: -5px;
	color: #00adb5;
}

.txt_field input:focus ~ span::before, .txt_field input:valid ~ span::before
	{
	width: 100%;
}

.pass {
	font-size: 1.2rem;
	margin: -5px 0 20px 5px;
	color: #a6a6a6;
	cursor: pointer;
	margin: -5px 0 20px 5px;
}

.pass>a {
	text-decoration: none;
	color: #a6a6a6;
}

.pass:hover {
	text-decoration: underline;
}

input[type="submit"] {
	width: 100%;
	height: 50px;
	border: 1px solid;
	background: #00adb5;
	background-image: linear-gradient(to right, #00adb5 0%, #8e44ad 51%, #00adb5 100%);
	border-radius: 25px;
	font-size: 18px;
	color: #e9f4fb;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
	background-size: 200% auto;
}

input[type="submit"]:hover {
	background-position: right center;
	/* change the direction of the change here */
	border-color: #00adb5;
	transition: 0.5s;
	text-decoration: none;
}

.signup_link {
	margin: 30px 0;
	text-align: center;
	font-size: 16px;
	color: #666666;
}

.signup_link a {
	color: #00adb5;
	text-decoration: none;
}

.signup_link a:hover {
	text-decoration: underline;
}
/* ------------------------ */
/* Error message style */
/* ------------------------ */
.center>p {
	font-size: 2rem;
	text-align: center;
	padding: 10px 0;
	/* border-bottom: 1px solid red; */
	color: #F45050;
	text-align: center;
	background-color: #FFABAB;
	margin: 5px;
	border-radius: 8px;
}